@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* --color-green: #00C967; */
    /* --color-blue: rgb(73, 73, 247); */
    --color-blue: rgb(68, 68, 243);
    --color-black: rgb(8, 8, 8);
    --bg-black: #131313;
    /* --bg-black: #050505; */
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "WDXL Lubrifont TC", sans-serif;
}

header {
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    font-family: var(--font-primary);
    border-bottom: 1px solid var(--color-blue);
    /* position: fixed;
    width: 100%; */
}

/* .logo {
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    width: 8rem;
} */

.logo {
    color: var(--color-blue);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: 2.6rem;
}

header nav ul {
    display: flex;
    gap: 2rem;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
}

header nav ul li .btn {
    background-color: var(--color-blue);
    padding: .6rem 1.4rem;
    border-radius: .4rem;
    border: 1px solid transparent;
    letter-spacing: 1px;
}

header nav ul li a:hover {
    color: var(--color-blue);
}

.btn:hover {
    transition: .4s ease-in-out;
    border: 1px solid white;
    letter-spacing: 2px;
    color: white;
    box-shadow: 0px 0px 14px var(--color-blue);
}

.hamburger {
    display: none;
}

/* Final header */

/* Seccion main inicio */

.conteinerMain {
    /* background-color: black; */
    height: max-content;
    background-image: url(./images/gradient_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box-black {
    background-color: #131313ea;
    overflow: hidden;
    padding: 2rem;
    position: relative;


    /* background-color: var(--bg-black); */
}

.conteinerMain .box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteinerMain .box h4 {
    margin-top: 3rem;
    text-align: center;
    background-color: var(--color-black);
    border: 1px solid var(--color-blue);
    padding: .8rem 2.2rem;
    /* color: var(--color-blue); */
    color: rgb(221, 221, 221);
    font-weight: 600;
    font-family: var(--font-secondary);
    letter-spacing: 2px;
    border-radius: .6rem;
    box-shadow: 0px 0px 6px 0px var(--color-blue);
}

.conteinerMain .box h1 {
    color: var(--color-blue);
    font-family: var(--font-primary);
    text-shadow: 0px 0px 14px var(--color-blue);
    text-align: center;
    margin-top: 2rem;
    font-size: 2.4rem;
    letter-spacing: 1px;
}

.conteinerMain .box p {
    color: white;
    font-family: var(--font-primary);

    margin-top: 1.8rem;

    span {
        color: var(--color-blue);
        text-decoration: underline var(--color-blue);
    }
}

/* Shadow prueba */

.shadow {
    width: 40rem;
    height: 30rem;
    position: absolute;

    left: -20rem;
    /* background-color: var(--color-blue); */

    background: radial-gradient(circle,
            var(--color-blue),
            /* centro intenso */
            transparent 80%
            /* se desvanece */
        );
    filter: blur(100px);
    opacity: 0.2;
}

.shadowTwo {
    top: 30%;
    left: 90rem;
    background-color: var(--color-blue);
    opacity: 0.1;
}

/* video */

.conteiner-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
}

.box-people {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: .6rem;
    padding: 1rem 2rem;
    border-left: 1px solid var(--color-blue);
    border-right: 1px solid var(--color-blue);

    .image-people {
        height: 3rem;
    }

    p {
        color: white;
        font-family: var(--font-secondary);
        letter-spacing: 2px;
        font-size: 1.1rem;
    }
}

.btn-asesor {
    text-decoration: none;
    background-color: #58A418;
    color: white;
    font-family: var(--font-secondary);
    padding: 1.2rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    border-radius: .4rem;
    box-shadow: 0px 0px 15px #58A418;
    margin-top: 2rem;
    text-transform: uppercase;
}

.btn-asesor:hover {
    transform: scale(1.05);
    transition: .5s ease-in-out;
}



.video {
    background-color: var(--bg-black);

    width: max-content;
    border-radius: 1rem;
    padding: 0 2rem;
    padding-bottom: 2.6rem;
}

.video:hover {
    transition: 1s ease-in-out;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 255, 0.219);
}

video {
    width: 60rem;
    height: 34rem;
    margin-top: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

video::-webkit-media-controls-play-button {
    margin-right: 1rem;
}

video::-webkit-media-controls-current-time-display {
    color: #f1faee;
    font-weight: bold;
}

video::-webkit-media-controls-time-remaining-display {
    color: #a8dadc;
}

video::-webkit-media-controls-timeline {
    background-color: var(--color-blue);
    padding: 1rem;
}

video::-webkit-media-controls-volume-slider {
    color: var(--color-blue);
}

/* Responsive */

@media only screen and (max-width: 1200px) {
    header {
        padding: 1rem;

        nav {
            display: none;
        }

        .hamburger {
            display: flex;
            flex-direction: column;
            gap: .2rem;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            div {
                height: 2px;
                width: 18px;
                background-color: white;
            }
        }

        nav.active {
            display: flex;
            position: absolute;
            top: 5.2rem;
            width: 100%;
            left: 0;
            padding: 2rem 1rem;
            background-color: white;
            z-index: 1;

            ul {
                flex-direction: column;
                width: 100%;
            }

            a {
                color: var(--color-black);
            }

        }


        .hamburger:hover div {
            transition: .2s ease-in-out;
            background-color: var(--color-blue);
        }
    }

    /* Final header */

    .conteinerMain .box-black {
        padding: 1rem;
        height: 100vh;
    }

    .conteinerMain .box h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .conteinerMain .box h4 {
        font-size: .9rem;
        letter-spacing: 1px;
    }

    .conteinerMain .box p {
        text-align: center;
        font-size: .9rem;
    }

    /* shadow */
    /* .shadow {
        display: none;
    } */

    /* video main */

    video {

        height: min-content;
    }

    .video {
        padding-bottom: 2rem;
    }

    /* video {
        width: 60rem;
        height: 34rem;
        margin-top: 2rem;
        border-radius: 1rem;
    } */
}


@media only screen and (max-width: 1070px) {

    .video {
        width: 100%;
    }

    video {
        width: 100%;

    }


}